<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css.css}" rel="stylesheet" />
    <title>Title</title>
</head>
<body>
<form action="#" th:action="@{/AddBrand}" th:object="${pro}" method="post">
    <p>Brand Name <br /><input type="text" th:field="*{name}" placeholder="brand name.." /></p>
    <p>Brand Category <br /><input type="text" th:field="*{category}" placeholder="brand category.." /></p>
    <p>Brand Type <br /><input type="text" th:field="*{type}" placeholder="eg type1, type2, type3..."/></p>
    <p1><input type="submit" value="ADD BRAND TO PLATFORM" /></p1>
</form>
<form action="#" th:action="@{/Back}" method="get">
    <input  type="submit" value="return to menu"  /></p>
</form>
</body>
</html>
