<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>AdministratorPage</title>
    <link th:href="@{/CSS_sheet/css.css}" rel="stylesheet"/>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>


<h1>Welcome,
    <p1 th:text="${name}"></p1>
</h1>

<form action="#" th:action="@{/AddProduct}" method="get">
    <input type="submit" value="ADD Product"/></p>
</form>

<form action="#" th:action="@{/AddBrand}" method="get">
    <input type="submit" value="Add Brand"/></p>
</form>
<form action="#" th:action="@{/Showstores}" method="get">
    <input type="submit" value="show not approved stores"/></p>
</form>
<form action="#" th:action="@{/AddStat}" method="get">
    <input type="submit" value="Add Statistics"/></p>
</form>
<form action="#" th:action="@{/ViewStat}" method="get">
    <input type="submit" value="View Statistics"/></p>
</form>
<form action="#" th:action="@{/logout}" method="get">
    <input type="submit" value="Logout :( "/></p>
</form>


</body>
</html>