<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>



<form action="#" th:action="@{/AddProduct}" method="get">
    <input  type="submit" value="ADD Product"  /></p>
</form>

<form action="#" th:action="@{/AddBrand}" method="get">
    <input  type="submit" value="Add Brand"  /></p>
</form>
<form action="#" th:action="@{/Showstores}" method="get">
    <input  type="submit" value="show stores"  /></p>
</form>
<form action="#" th:action="@{/AddStat}" method="get">
    <input  type="submit" value="Add Statistics"  /></p>
</form>
<form action="#" th:action="@{/ViewStat}" method="get">
    <input  type="submit" value="View Statistics"  /></p>
</form>

</body>
</html>