<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Title</title>
</head>
<body>
<form action="#" th:action="@{/Buy}" th:object="${struct}"   method="post">
    <p>name of product: <input type="text" th:field="*{name}" /> </p>
    <p>quantity <input type="text" th:field="*{num}"/></p>
    <p>Shipping Address <input type="text" th:field="*{address}"/></p>
    <p><input type="checkbox" name="agreement" value="agree" th:field="*{agree}"> agree on the agreement <br></p>
    <input type="submit" value="BUY"/>

</form>
</body>
</html>