<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <link th:href="@{/CSS_sheet/css.css}" rel="stylesheet"/>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>

<form action="#" th:action="@{/Add_Colla}" method="get">
    <input type="submit" value="Add Collaborators"/></p>
</form>
<form action="#" th:action="@{/Back}" method="get">
    <input type="submit" value="return to menu"/></p>
</form>

</body>
</html>