<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link th:href="@{/CSS_sheet/css.css}" rel="stylesheet"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>


<form action="#" th:action="@{/login}" th:object="${sub}" method="post">
    <p>Username <br/> <input type="text" th:field="*{user_name}" placeholder="your name.."/></p>
    <p>Password<br/> <input type="password" th:field="*{password}" placeholder="enter password.."/></p>

    <p><input type="submit" value="LOGIN"/>
</form>
<form action="#" th:action="@{/Register}" method="get">
    <input type="submit" value="REGISTER"/></p>
</form>
</body>
</html>