<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <link th:href="@{/CSS_sheet/css.css}" rel="stylesheet"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>


<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Title</title>
</head>
<body>
<h1>Welcome,
    <p1 th:text="${name}"></p1>
</h1>

<form action="#" th:action="@{/searchproduct}" method="get">
    <input type="submit" value="search for product"/>
</form>

<form action="#" th:action="@{/showbalance}" method="get">
    <p><input type="submit" value="view Balance"/></p>
</form>

<form action="#" th:action="@{/logout}" method="get">
    <input type="submit" value="Logout :( "/></p>
</form>
</body>

</html>