<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<form action="#" th:action="@{/Addstore1}" method="get">
  <p>  <input  type="submit" value="Add Store"  /></p>
</form>
<form action="#" th:action="@{/AddProducttostore}" method="get">
   <p> <input  type="submit" value="ADD product to store"  /></p>
</form>

<form action="#" th:action="@{/searchproduct}" method="get">
    <p><input type="submit" value="search for product"/> </p>
</form>

<form action="#" th:action="@{/viewstatistics}" method="get">
    <p><input  type="submit" value="view statistics"  /></p>
</form>

<form action="#" th:action="@{/showbalance}" method="get">
    <p><input  type="submit" value="view Balance"  /></p>
</form>
</body>
</html>