<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<form action="#" th:action="@{/Addstore1}" method="get">
    <input  type="submit" value="Add Store"  /></p>
</form>
<form action="#" th:action="@{/AddProducttostore}" method="get">
    <input  type="submit" value="ADD product to store"  /></p>
</form>
<form action="#" th:action="@{/viewstatistics}" method="get">
    <input  type="submit" value="view statistics"  /></p>
</form>
</body>
</html>