<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/CSS_sheet/css.css}" rel="stylesheet"/>

    <title>StoreEditProduct</title>
</head>

<body>
<form action="#" th:action="@{/editProductStore}" th:object="${prod1}" method="post">
    <p>Product Name<br/> <input type="text" th:field="*{name}" placeholder="product name.."/></p>
    <p>New Type<br/><input type="text" th:field="*{product_type}" placeholder="new type.."/></p>
    <p>New Price <br/><input type="number" th:field="*{price}" placeholder="new price.."/></p>
    <p>New Quntity <br/><input type="number" th:field="*{quntity}" placeholder="new quantity.."/></p>
    <p><input type="submit" value="Edit Product"/>
</form>
<form action="#" th:action="@{/Back}" method="get">
    <input type="submit" value="return to menu"/></p>
</form>
</body>
</html>