<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/CSS_sheet/css.css}" rel="stylesheet"/>

    <title>Title</title>
</head>
<style>table, th, td {
    border: 1px solid black;
}</style>
<body>

<table>
    <th>Store name</th>
    <th>type</th>
    <th>Owner name</th>
    <tr th:each="st : ${st}">

        <td th:text="${st.getStore_name()}"></td>
        <td th:text="${st.getType()}"></td>
        <td th:text="${st.getOwner()}"></td>

    </tr>
</table>
<form action="#" th:action="@{/approve}" method="get">
    <input type="submit" value="Approve"/>

</form>
<form action="#" th:action="@{/Back}" method="get">
    <input type="submit" value="return to menu"/></p>
</form>
</body>
</html>
