<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/CSS_sheet/css.css}" rel="stylesheet" />
    <title>AddProduct</title>
</head>

<body>
<form action="#" th:action="@{/AddProducttostore}" th:object="${prod}"  method="post">
    <p>Product Name<br/><input type="text" th:field="*{name}" placeholder="product name that already exists in platform.."/></p>
    <p>Product Type<br/> <input type="text" th:field="*{product_type}" placeholder="product type.."/></p>
    <select th:field="*{store_ID}">
        <option value=""></option>
        <option th:each="t : ${st}" th:value="${t.getStore_name()}"><p th:text="${t.getStore_name()}"/></option>
    </select>
    <p>Price<br/> <input type="number" th:field="*{price}" placeholder="price should be in the range.."/></p>
    <p>Quntity<br/><input type="number" th:field="*{quntity}" placeholder="the available quantity.."/></p>
    <p><input type="submit" value="ADD PRODUCT TO STORE" />
</form>
<form action="#" th:action="@{/Back}" method="get">
    <input  type="submit" value="return to menu"  /></p>
</form>
</body>
</html>